body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #202020;
  color: #ffffff; /* text color */
}

.container {
  width: 80%;
  margin: 100px auto;
  text-align: center;
  background-color: #333333; /* darker background */
  border-radius: 8px;
  padding: 20px; /* increased padding for better readability */
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff; /* primary button color */
  color: #ffffff; /* text color */
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3; /* slightly darker hover color */
}
