body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.homepage-button {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.selections {
  text-align: center;
  margin: 5px auto;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

select {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
  padding: 5px 10px;
  background-color: #f0f0f0;
  text-align: center;
  border-radius: 5px;
}

select,
button,
input {
  margin: 5px auto;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

select:focus,
button:focus,
input:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 5px #66afe9;
}

button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

li:hover {
  background-color: #e0e0e0;
}
