body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #202020;
  color: #ffffff; /* text color */
}

.homepage-button {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.selections,
.selections1 {
  text-align: center;
  margin: 5px auto;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ffffff; /* lighter border */
  border-radius: 4px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

select {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
  background-color: #333333; /* darker background */
  border-color: #000000; /* darker border */
}

li {
  margin-bottom: 5px;
  padding: 5px 10px;
  background-color: #333333; /* darker background */
  text-align: center;
  border-color: #000000; /* darker border */
  border-radius: 5px;
}

select,
button,
input {
  background-color: #333333; /* darker background */
  margin: 5px auto;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #666666; /* slightly lighter border */
  border-radius: 4px;
  color: #ffffff; /* text color */
}

select:focus,
button:focus,
input:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 5px #66afe9;
}

button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

li:hover {
  background-color: #555555; /* slightly lighter hover color */
}
